boto3==1.34.29
botocore==1.34.29
ffmpeg==1.4
Flask 
python-dotenv
Flask-Cors==4.0.0
gTTS==2.5.0
imagecodecs 
imageio 
imageio-ffmpeg==0.4.9
ipykernel
ipython
ipython-genutils 
ipywidgets 
isort 
itemadapter 
moviepy==1.0.3
mpmath 
msgpack
multidict
multipledispatch
multiprocess
nltk
oauthlib==3.2.2
openai==1.6.0
pydub==0.25.1
regex
requests 
requests-file
requests-oauthlib==1.3.1
requests-toolbelt
responses
rfc3339-validator
rfc3986-validator 
s3fs 
s3transfer==0.10.0
pvleopard==2.0.1
gunicorn